<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Credit Card Defaulter</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="panel-body">
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">

                  <ul class="nav navbar-nav">
                    <li class="active"><a href="http://35.154.62.162:8080/">Study Material</a></li>
                    <li><a href="http://35.154.62.162:8080/">Explore Courses</a></li>
                    <li><a href="http://127.0.0.1:5000/">Pricing</a></li>
                    <li><a href="http://127.0.0.1:5000/">FAQs</a></li>
                    <li><a href="http://127.0.0.1:5000/">About Us</a></li>
                    <li><a href="http://127.0.0.1:5000/">Refer to a Friend</a></li>
                  </ul>


                  <form class="navbar-form navbar-right" action="/action_page.php">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                </div>
        </nav>
</div>
<div class="main">

  <!-- Sign up form -->
  <section class="signup">
      <div class="container">
          <div class="signup-content">
              <div class="signup-form">
                  <h2 class="form-title">Sign up</h2>
                  <form action = "{{ url_for('registration_view') }}" method="POST" class="register-form" id="register-form">
                      <div class="form-group">
                          <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                          <input type="text" name="name" id="name" placeholder="Your Name"/>
                      </div>
                      <div class="form-group">
                        <label for="age"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="age" id="age" placeholder="Your age"/>
                    </div>
                    <div class="form-group">
                        <label for="city"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="city" id="city" placeholder="Your city"/>
                    </div>
                    <div class="form-group">
                        <label for="grade_of_study"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="grade_of_study" id="grade_of_study" placeholder="Your grade"/>
                    </div>
                    <div class="form-group">
                        <label for="board_of_study"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="board_of_study" id="board_of_study" placeholder="Your education board"/>
                    </div>

                      <div class="form-group">
                          <label for="email"><i class="zmdi zmdi-email"></i></label>
                          <input type="email" name="email" id="email" placeholder="Your Email"/>
                      </div>
                      <div class="form-group">
                          <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                          <input type="password" name="pass" id="pass" placeholder="Password"/>
                      </div>
                      <div class="form-group">
                          <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                          <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                          <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                      </div>
                      <div class="form-group form-button">
                          <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                      </div>
                  </form>
              </div>
              <div class="signup-image">
                  <figure><img src="/static/signup-image.jpg" alt="sing up image"></figure>
                  <a href="#" class="signup-image-link">I am already member</a>
              </div>
          </div>
      </div>
  </section>

 

</div>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/js/main.js"></script>

</body>